body{

background:#07101d;
color:white;
font-family:Arial;

margin:0;
padding:20px;

}

header{

display:flex;
align-items:center;
gap:10px;

margin-bottom:20px;

}

.ps{

background:red;
width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

border-radius:10px;

font-weight:bold;

}

.hero{

margin-bottom:30px;

}

.hero span{

color:red;

}

input{

width:100%;
padding:15px;

border-radius:10px;
border:none;

margin-top:10px;

}

.card{

background:#0b1830;
padding:20px;

border-radius:15px;

margin-bottom:20px;

}

button{

background:red;
color:white;

padding:10px 20px;

border:none;
border-radius:10px;

margin-top:10px;

cursor:pointer;

}
